<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;

  <!ENTITY kconfigwidgets-download-http "&kf5-download-http;/kconfigwidgets-&kf5-version;.tar.xz">
  <!ENTITY kconfigwidgets-download-ftp  "&kf5-download-ftp;/kconfigwidgets-&kf5-version;.tar.xz">
  <!ENTITY kconfigwidgets-md5sum        "6465152efd2962e0c8493ff0816aebfd">
  <!ENTITY kconfigwidgets-size          "2.9 MB">
  <!ENTITY kconfigwidgets-buildsize     "31 MB">
  <!ENTITY kconfigwidgets-time          "0.3 SBU">
]>

<sect1 id="kconfigwidgets" xreflabel="KConfigWidgets-&kf5-version;">
  <?dbhtml filename="kconfigwidgets.html"?>

  <sect1info>
    <othername>$LastChangedBy$</othername>
    <date>$Date$</date>
  </sect1info>

  <title>KConfigWidgets-&kf5-version;</title>

  <indexterm zone="kconfigwidgets">
    <primary sortas="a-KConfigWidgets">KConfigWidgets</primary>
  </indexterm>

  <sect2 role="package">
    <title>Introduction to KConfigWidgets</title>

    <para>
      The <application>KConfigWidgets</application> package contains a library
      that provides widgets for configuration dialogs.
    </para>

    &lfs75_checked;

    <bridgehead renderas="sect3">Package Information</bridgehead>
    <itemizedlist spacing="compact">
      <listitem>
        <para>
          Download (HTTP): <ulink url="&kconfigwidgets-download-http;"/>
        </para>
      </listitem>
      <listitem>
        <para>
          Download (FTP): <ulink url="&kconfigwidgets-download-ftp;"/>
        </para>
      </listitem>
      <listitem>
        <para>
          Download MD5 sum: &kconfigwidgets-md5sum;
        </para>
      </listitem>
      <listitem>
        <para>
          Download size: &kconfigwidgets-size;
        </para>
      </listitem>
      <listitem>
        <para>
          Estimated disk space required: &kconfigwidgets-buildsize;
        </para>
      </listitem>
      <listitem>
        <para>
          Estimated build time: &kconfigwidgets-time;
        </para>
      </listitem>
    </itemizedlist>

    <bridgehead renderas="sect3">KConfigWidgets Dependencies</bridgehead>

    <bridgehead renderas="sect4">Required</bridgehead>
    <para role="required">
      <xref linkend="karchive"/>,
      <xref linkend="kauth"/>,
      <xref linkend="kcodecs"/>,
      <xref linkend="kcoreaddons"/>,
      <xref linkend="kdoctools"/>,
      <xref linkend="kguiaddons"/>,
      <xref linkend="ki18n"/> and
      <xref linkend="kwidgetsaddons"/>
    </para>

    <para condition="html" role="usernotes">
      User Notes: <ulink url="&blfs-wiki;/kconfigwidgets"/>
    </para>
  </sect2>

  <sect2 role="installation">
    <title>Installation of KConfigWidgets</title>

    <para>
      Install <application>KConfigWidgets</application> by running the following
      commands:
    </para>

<screen><userinput>mkdir build &amp;&amp;
cd    build &amp;&amp;

cmake -DCMAKE_INSTALL_PREFIX=$KF5_PREFIX \
      -DCMAKE_BUILD_TYPE=Release         \
      -DLIB_INSTALL_DIR=lib              \
      -DBUILD_TESTING=OFF                \
      -DECM_MKSPECS_INSTALL_DIR=$KF5_PREFIX/lib/qt5/mkspecs/modules \
      .. &amp;&amp;
make</userinput></screen>

    <para>
      This package does not come with a test suite.
    </para>

    <para>
      Now, as the <systemitem class="username">root</systemitem> user:
    </para>

<screen role="root"><userinput>make install</userinput></screen>

  </sect2>

  <sect2 role="commands">
    <title>Command Explanations</title>

    <para>
      <parameter>-DCMAKE_BUILD_TYPE=Release</parameter>: This switch is used
      to apply higher level of the compiler optimizations.
    </para>

    <para>
      <parameter>-DLIB_INSTALL_DIR=lib</parameter>: This switch is used
      to get libraries to install to <filename
      class="directory">$KF5_PREFIX/lib</filename> instead of <filename
      class="directory">$KF5_PREFIX/lib64</filename> on a 64 bit system.
    </para>

    <para>
      <parameter>-DBUILD_TESTING=OFF</parameter>: This switch is used to prevent
      building test programs and libraries that are of no use to an end user.
    </para>

    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude"
      href="../../xincludes/qt5-mkspecs-dir.xml"/>

  </sect2>

  <sect2 role="content">
    <title>Contents</title>

    <segmentedlist>
      <segtitle>Installed Programs</segtitle>
      <segtitle>Installed Libraries</segtitle>
      <segtitle>Installed Directories</segtitle>

      <seglistitem>
        <seg>
          preparetips5
        </seg>
        <seg>
          libKF5ConfigWidgets.so
        </seg>
        <seg>
          $KF5_PREFIX/include/KF5/KConfigWidgets,
          $KF5_PREFIX/lib/cmake/KF5ConfigWidgets and
          $KF5_PREFIX/share/kf5/kconfigwidgets
        </seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

</sect1>
