[Unit]
Description=ISC DHCP Server
After=network.target

[Service]
Type=forking
PIDFile=/run/dhcpd.pid
EnvironmentFile=/etc/default/dhcpd
ExecStart=/usr/sbin/dhcpd -pf /run/dhcpd.pid -q $DHCPD_OPTS $DHCPD_INTERFACES
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
