[Unit]
Description=GPM Console Mouse Service
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/mouse
ExecStart=/usr/sbin/gpm -m $MDEVICE -t $PROTOCOL $GPMOPTS

[Install]
WantedBy=multi-user.target
